/* ----- Fonts ----- */
//Sharp (normal/italic/bold)
@font-face {
    font-family: "sharp";
    src: url("../fonts/SHARP/Sharp.otf");

    font-family: "sharpItalic";
    src: url("../fonts/SHARP/SharpItalic.otf");

    font-family: "sharpBold";
    src: url("../fonts/SHARP/SharpBold.otf");
}

/* ----- Colors ----- */
$colorSable : #DFCCC2;
$colorGreen : #C5CEBD;
$colorPurple : #C2B8CC


/* ----- General ----- */
*{

}
body{

}

/* -----  ----- */


